@media only screen and (min-width: 100px) and (max-width: 500px) {
    .logo {
        padding: 10px 8px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(12, 1fr);
        height: 100vh;
    }

    .mrg {
        display: none;
    }

    /* buttons positioning */
    /* cal row 2 */
    .op-bracket, .seven, .four, .one, .d-zero {
        grid-column: 1 / span 2;
    }

    .cl-bracket, .eight, .five, .two, .zero {
        grid-column: 3 / span 2;
    }

    .mod, .nine, .six, .three, .point {
        grid-column: 5 / span 2;
    }

    .divide, .multiply, .minus, .plus, .equal {
        grid-column: 7 / span 2;
    }
}